*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
background-color:#f3eae3;
display:flex;
justify-content:center;
align-items:center;
height: 100vh;
}
div{
background-color:white;
text-align:center;
width:100%;

max-width:270px;
}
p{
padding:20px;

}
#he{
letter-spacing:8px;
}
picture{
margin-bottom:0px;
}
img{
width:100%;
display:block;
}
.de{
height:405px;
}
@media only screen and (max-width:545px){
body{
flex-direction:column;
}
div {
      text-align:center;
      margin: 0; 

    }

}
button{
background-color:#04AA6D;
cursor:pointer;
}
button:hover{
transition-duration: 0.4s;
background-color:green;
}

